## Python Setup

In [1]:
import pandas as pd
import spacy

nlp = spacy.load("en_core_web_lg")  # load a large model

pd.reset_option('display.max_colwidth')

In [23]:
def chunk_text(row):
    doc = nlp(row)
    for chunk in doc.noun_chunks:
        return chunk.text
    
def chunk_root(row):
    doc = nlp(row)
    for chunk in doc.noun_chunks:
        return chunk.root.text
    
def chunk_root_dep(row):
    doc = nlp(row)
    for chunk in doc.noun_chunks:
        return chunk.root.dep_

def chunk_root_head_text(row):
    doc = nlp(row)
    for chunk in doc.noun_chunks:
        return chunk.root.head.text

In [46]:
patents = patents.head(5000)

In [40]:
patents = patents[[4,10]]

In [48]:
patents['chunk_text'] = patents[4].apply(chunk_text)

patents['chunk_root'] = patents[4].apply(chunk_root)

patents['chunk_root_dep'] = patents[4].apply(chunk_root_dep)

patents['chunk_root_head_text'] = patents[4].apply(chunk_root_head_text)

In [52]:
patents.head()

,4,10,chunk_text,chunk_root,chunk_root_dep,chunk_root_head_text
962864,Failsafe voltage regulator with warning signal...,0.140127,Failsafe voltage regulator,regulator,ROOT,regulator
962865,Snowboard boot with liner harness,-0.0802676,Snowboard boot,boot,ROOT,boot
962866,Solid ink compositions comprising amorphous es...,-0.0203046,Solid ink compositions,compositions,ROOT,compositions
962867,Dripless closure,1,Dripless closure,closure,ROOT,closure
962868,Multi-outlet electrical socket boxes,0.15873,Multi-outlet electrical socket boxes,boxes,ROOT,boxes

In [53]:
publications = publications.head(5000)

In [54]:
publications = publications[[4,10]]

In [55]:
publications['chunk_text'] = publications[4].apply(chunk_text)

In [56]:
publications['chunk_root'] = publications[4].apply(chunk_root)

In [57]:
publications['chunk_root_dep'] = publications[4].apply(chunk_root_dep)

In [58]:
publications['chunk_root_head_text'] = publications[4].apply(chunk_root_head_text)

In [59]:
publications.head()

,4,10,chunk_text,chunk_root,chunk_root_dep,chunk_root_head_text
0,On separation of energies in viscoelasticity,0.006172839506172839,separation,separation,pobj,On
1,Catalytic reduction of N2O and NO2 with methan...,0.006631299734748011,Catalytic reduction,reduction,ROOT,reduction
2,Eucaryotic cells protect Borrelia burgdorferi ...,-0.030100334448160536,Eucaryotic cells,cells,nsubj,protect
3,Real-time quantitative PCR detection of WT1 ge...,-0.003962289930318349,Real-time quantitative PCR detection,detection,ROOT,detection
4,Does safety climate moderate the influence of ...,-0.003911024199462234,safety climate,climate,nsubj,moderate

In [60]:
patents = titles[titles[1].str.startswith('u')]
publications = titles[titles[1].str.startswith('a')]

In [61]:
patents_above_zero = patents[patents[10] > '0.5']
patents_below_zero = patents[patents[10] < '0.5']

In [62]:
publications_above_zero = publications[publications[10] > '0.5']
publications_below_zero = publications[publications[10] < '0.5']

In [66]:
patents_above_zero = patents_above_zero[[4,10]]
patents_below_zero = patents_below_zero[[4,10]]
publications_above_zero = publications_above_zero[[4,10]]
publications_below_zero = publications_below_zero[[4,10]]

In [69]:
patents_above_zero = patents_above_zero.head(5000)
patents_below_zero = patents_below_zero.head(5000)
publications_above_zero = publications_above_zero.head(5000)
publications_below_zero = publications_below_zero.head(5000)

In [70]:
patents_above_zero['chunk_text'] = patents_above_zero[4].apply(chunk_text)

patents_above_zero['chunk_root'] = patents_above_zero[4].apply(chunk_root)

patents_above_zero['chunk_root_dep'] = patents_above_zero[4].apply(chunk_root_dep)

patents_above_zero['chunk_root_head_text'] = patents_above_zero[4].apply(chunk_root_head_text)

In [71]:
patents_below_zero['chunk_text'] = patents_below_zero[4].apply(chunk_text)

patents_below_zero['chunk_root'] = patents_below_zero[4].apply(chunk_root)

patents_below_zero['chunk_root_dep'] = patents_below_zero[4].apply(chunk_root_dep)

patents_below_zero['chunk_root_head_text'] = patents_below_zero[4].apply(chunk_root_head_text)

In [72]:
publications_above_zero['chunk_text'] = publications_above_zero[4].apply(chunk_text)

publications_above_zero['chunk_root'] = publications_above_zero[4].apply(chunk_root)

publications_above_zero['chunk_root_dep'] = publications_above_zero[4].apply(chunk_root_dep)

publications_above_zero['chunk_root_head_text'] = publications_above_zero[4].apply(chunk_root_head_text)

In [85]:
publications_below_zero['chunk_text'] = publications_below_zero[4].apply(chunk_text)

publications_below_zero['chunk_root'] = publications_below_zero[4].apply(chunk_root)

publications_below_zero['chunk_root_dep'] = publications_below_zero[4].apply(chunk_root_dep)

publications_below_zero['chunk_root_head_text'] = publications_below_zero[4].apply(chunk_root_head_text)

In [74]:
patents_above_zero.head()

,4,10,chunk_text,chunk_root,chunk_root_dep,chunk_root_head_text
962867,Dripless closure,1,Dripless closure,closure,ROOT,closure
962879,Link arm suspension,1,Link arm suspension,suspension,ROOT,suspension
962885,Writing instrument barrel including a painted ...,\N,instrument barrel,barrel,dobj,Writing
962887,Garment shield with removable outer portions,1,Garment shield,shield,ROOT,shield
962888,Device for treating dental castings,0.55814,Device,Device,ROOT,Device

In [82]:
patents_above_zero.groupby('chunk_root').size().reset_index().sort_values(0,ascending=False).head(10)

       chunk_root    0
273        Method  457
794        device  228
545     apparatus  214
1482       system  197
341       Process  185
31      Apparatus  156
1109       method  102
785   derivatives   76
563      assembly   69
720   composition   62

In [83]:
publications_above_zero.groupby('chunk_root').size().reset_index().sort_values(0,ascending=False).head(10)

       chunk_root   0
537        Effect  69
1747     analysis  52
539       Effects  51
2688        study  42
1526    Synthesis  37
84       Analysis  37
451   Development  33
2336       method  33
1511        Study  31
2042       effect  28

In [84]:
patents_below_zero.groupby('chunk_root').size().reset_index().sort_values(0,ascending=False).head(10)

     chunk_root    0
231      Method  615
1307     system  308
678      device  308
463   apparatus  247
20    Apparatus  123
958      method  102
367      System   91
288     Process   80
232     Methods   77
483    assembly   73