<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [ ]:
document_attributes = pd.read_csv('document_attributes.csv', header=None)
document_attributes_with_title_tokens = pd.read_csv('document_attributes_with_title_tokens.csv',error_bad_lines=False, header=None)

In [ ]:
document_title_tokens = pd.read_csv('document_title_tokens.csv',error_bad_lines=False,header=None)

In [16]:
document_attributes.head()

,0,1,2,3,4,5,6,7,8,9,10
0,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3
1,a41123858,article,2006,\N,Chemistry,0.004347826086956522,0.017391304347826087,4,0.006631299734748011,0.07294429708222812,11
2,a26781251,article,1996,\N,Biology|Medicine,-0.008547008547008548,-0.025641025641025644,3,-0.030100334448160536,-0.5719063545150502,19
3,a34903787,article,2002,\N,Medicine,-0.0031111642934067247,-0.09333492880220175,30,-0.003962289930318349,-0.30905861456483125,78
4,a43526827,article,2007,\N,Engineering|Social sciences,-0.009713453132588635,-0.291403593977659,30,-0.003911024199462234,-0.16426301637741383,42

In [17]:
document_attributes_with_title_tokens.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,0,On,on,ADP,IN,ROOT,Xx,1,1.0
1,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,1,separation,separation,NOUN,NN,pobj,xxxx,1,0.0
2,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,2,of,of,ADP,IN,prep,xx,1,1.0
3,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,3,energies,energy,NOUN,NNS,pobj,xxxx,1,0.0
4,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,4,in,in,ADP,IN,prep,xx,1,1.0

In [41]:
document_title_tokens[document_title_tokens[0] == 'a27736431']

,0,1,2,3,4,5,6,7,8,9
0,a27736431,0,On,on,ADP,IN,ROOT,Xx,1,1.0
1,a27736431,1,separation,separation,NOUN,NN,pobj,xxxx,1,0.0
2,a27736431,2,of,of,ADP,IN,prep,xx,1,1.0
3,a27736431,3,energies,energy,NOUN,NNS,pobj,xxxx,1,0.0
4,a27736431,4,in,in,ADP,IN,prep,xx,1,1.0
5,a27736431,5,viscoelasticity,viscoelasticity,NOUN,NN,pobj,xxxx,1,0.0

In [35]:
groupby = document_title_tokens.groupby([0,4]).size().unstack(fill_value=0)

In [40]:
groupby[groupby.index == 'a27736431']

4,ADJ,ADP,ADV,AUX,CCONJ,DET,INTJ,NNS,NOUN,NUM,PART,PRON,PROPN,PUNCT,SCONJ,SPACE,SYM,VERB,X
0,,,,,,,,,,,,,,,,,,,
a27736431,0,3,0,0,0,0,0,0,3,0,0,0,0,0,0,0,0,0,0

In [45]:
above_zero = document_attributes_with_title_tokens[document_attributes_with_title_tokens[8] > '0']

In [50]:
above_zero.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,0,On,on,ADP,IN,ROOT,Xx,1,1.0
1,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,1,separation,separation,NOUN,NN,pobj,xxxx,1,0.0
2,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,2,of,of,ADP,IN,prep,xx,1,1.0
3,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,3,energies,energy,NOUN,NNS,pobj,xxxx,1,0.0
4,a27736431,article,1997,\N,Engineering,0,0,0,0.006172839506172839,0.018518518518518517,3,4,in,in,ADP,IN,prep,xx,1,1.0

In [52]:
above_zero_counts = above_zero.groupby([0,14]).size().unstack(fill_value=0)

In [67]:
below_zero = document_attributes_with_title_tokens[document_attributes_with_title_tokens[8] < '0']

In [68]:
below_zero.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
22,a26781251,article,1996,\N,Biology|Medicine,-0.008547008547008548,-0.025641025641025644,3,-0.030100334448160536,-0.5719063545150502,19,0,Eucaryotic,eucaryotic,ADJ,JJ,amod,Xxxxx,1,0.0
23,a26781251,article,1996,\N,Biology|Medicine,-0.008547008547008548,-0.025641025641025644,3,-0.030100334448160536,-0.5719063545150502,19,1,cells,cell,NOUN,NNS,nsubj,xxxx,1,0.0
24,a26781251,article,1996,\N,Biology|Medicine,-0.008547008547008548,-0.025641025641025644,3,-0.030100334448160536,-0.5719063545150502,19,2,protect,protect,VERB,VBP,ROOT,xxxx,1,0.0
25,a26781251,article,1996,\N,Biology|Medicine,-0.008547008547008548,-0.025641025641025644,3,-0.030100334448160536,-0.5719063545150502,19,3,Borrelia,Borrelia,PROPN,NNP,compound,Xxxxx,1,0.0
26,a26781251,article,1996,\N,Biology|Medicine,-0.008547008547008548,-0.025641025641025644,3,-0.030100334448160536,-0.5719063545150502,19,4,burgdorferi,burgdorferi,PROPN,NNP,dobj,xxxx,1,0.0

In [69]:
below_zero_counts = below_zero.groupby([0,14]).size().unstack(fill_value=0)

In [71]:
below_zero_counts = below_zero_counts.reset_index()

In [89]:
below_zero_adj = below_zero_counts['ADJ'].value_counts().reset_index()

In [91]:
below_zero_adj = below_zero_adj.rename(columns={'ADJ':'ADJ_below_zero'})

In [93]:
below_zero_verb = below_zero_counts['VERB'].value_counts().reset_index()

In [95]:
below_zero_verb = below_zero_verb.rename(columns={'VERB':'VERB_below_zero'})

In [84]:
len(above_zero_counts)

781347

In [85]:
len(below_zero_counts)

781347

In [83]:
above_zero_counts = above_zero_counts.head(781347)

In [81]:
below_zero_counts[0].nunique()

781347

In [97]:
below_zero_noun = below_zero_counts['NOUN'].value_counts().reset_index()

In [98]:
below_zero_noun = below_zero_noun.rename(columns={'NOUN':'NOUN_below_zero'})

In [61]:
above_zero_counts = above_zero_counts.reset_index()

In [100]:
above_zero_noun = above_zero_counts['NOUN'].value_counts().reset_index()

In [101]:
above_zero_noun = above_zero_noun.rename(columns={'NOUN':'NOUN_above_zero'})

In [102]:
above_zero_adj = above_zero_counts['ADJ'].value_counts().reset_index()

In [103]:
above_zero_adj = above_zero_adj.rename(columns={'ADJ':'ADJ_above_zero'})

In [104]:
above_zero_verb = above_zero_counts['VERB'].value_counts().reset_index()

In [106]:
above_zero_verb = above_zero_verb.rename(columns={'VERB':'VERB_above_zero'})

In [107]:
above_zero_verb.merge(below_zero_verb,on='index')

    index  VERB_above_zero  VERB_below_zero
0       0           373628           380051
1       1           273687           270155
2       2            98523            99106
3       3            26922            25378
4       4             6461             5223
5       5             1530             1108
6       6              421              236
7       7              118               61
8       8               41               21
9       9                8                5
10     10                4                2
11     11                3                1

In [110]:
above_zero_noun.merge(below_zero_noun,on='index').sort_values('index')

    index  NOUN_above_zero  NOUN_below_zero
9       0            12596            14718
5       1            52774            43848
2       2           116114            87172
0       3           149509           119505
1       4           138655           128780
3       5           109641           116750
4       6            78372            93732
6       7            51272            68264
7       8            31555            45133
8       9            18282            28004
10     10            10497            16154
11     11             5600             8877
12     12             2991             4888
13     13             1621             2619
14     14              862             1375
15     15              423              726
16     16              237              358
17     17              131              191
18     18               64               93
19     19               57               58
20     20               27               37
21     21               21               20
22     22               10               16
23     23                9                7
24     24                9                5
25     25                6                5
26     26                4                1
28     29                1                3
27     30                3                2
29     32                1                1

In [109]:
above_zero_adj.merge(below_zero_adj,on='index')

    index  ADJ_above_zero  ADJ_below_zero
0       0          278279          207791
1       1          259682          236203
2       2          134980          164579
3       3           63414           93945
4       4           27516           45838
5       5           10842           20042
6       6            4111            7984
7       7            1594            3121
8       8             583            1203
9       9             188             395
10     10              92             142
11     11              31              63
12     12              22              25
13     13               5               7
14     14               4               5
15     15               1               4

In [136]:
above_zero_groupby = above_zero.groupby(0)[14].apply(list).reset_index()

In [128]:
above_zero[0].nunique()

888755

In [ ]:
below_zero_groupby = below_zero.groupby(0)[14].apply(list).reset_index()

In [117]:
below_zero[0].nunique()

781347

In [112]:
above_zero.groupby(14).size().reset_index()

       14       0
0     ADJ  1036009
1     ADP  1176523
2     ADV    70990
3     AUX    15382
4   CCONJ   396091
5     DET   417546
6    INTJ      842
7    NOUN  3820507
8     NUM    54838
9    PART    29700
10   PRON    27866
11  PROPN   741035
12  PUNCT   520306
13  SCONJ    17366
14  SPACE       29
15    SYM    22790
16   VERB   685837
17      X     7506

In [113]:
below_zero.groupby(14).size().reset_index()

       14       0
0     ADJ  1216322
1     ADP  1451362
2     ADV    59542
3     AUX    29486
4   CCONJ   394184
5     DET   488201
6    INTJ      950
7     NNS        1
8    NOUN  3724991
9     NUM    92181
10   PART    33704
11   PRON    28560
12  PROPN  1304379
13  PUNCT   787905
14  SCONJ    20888
15  SPACE       17
16    SYM    29191
17   VERB   573020
18      X    13517