## Python Setup

In [249]:
import pandas as pd
from collections import Counter
pd.reset_option('display.max_colwidth')

# Visualization

from wordcloud import WordCloud, STOPWORDS 
import matplotlib.pyplot as plt

## Import Data

In [ ]:
document_attributes = pd.read_csv('document_attributes.csv', header=None)
document_attributes_with_title_tokens = pd.read_csv('document_attributes_with_title_tokens.csv',error_bad_lines=False, header=None)

In [ ]:
document_title_tokens = pd.read_csv('document_title_tokens.csv',error_bad_lines=False,header=None)

## Exploratory Analysis

### Count of POS in publications and in patents

In [3]:
groupby = document_title_tokens.groupby([0,4]).size().unstack(fill_value=0).reset_index()

In [20]:
patents = groupby[groupby[0].str.startswith('p')]

In [21]:
publications = groupby[groupby[0].str.startswith('a')]

In [22]:
publications = publications.head(999996)

In [23]:
len(publications)

999996

In [24]:
len(patents)

999996

In [25]:
publications.loc['Total',:]= publications.sum(axis=0)

In [27]:
patents.loc['Total',:]= patents.sum(axis=0)

/home/ekaterina/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [49]:
patents_total = patents.loc['Total'].reset_index()

In [50]:
publications_total = publications.loc['Total'].reset_index()

In [51]:
patents_total = patents_total.rename(columns={'Total':'Patents_Total'})

In [52]:
publications_total = publications_total.rename(columns={'Total':'Publications_Total'})

In [53]:
patents_total = patents_total[1:]

In [54]:
publications_total = publications_total[1:]

In [55]:
publications_total['Publications_Total'] = publications_total['Publications_Total'].astype(float)

patents_total['Patents_Total'] = patents_total['Patents_Total'].astype(float)

In [58]:
publications_total.merge(patents_total,on=4).sort_values('Patents_Total', ascending=False)

        4  Publications_Total  Patents_Total
8    NOUN           4924943.0      4054404.0
0     ADJ           1699281.0       957144.0
1     ADP           2176012.0       939186.0
17   VERB            691019.0       821422.0
4   CCONJ            521554.0       426691.0
5     DET            736175.0       345021.0
13  PUNCT           1237027.0       295343.0
12  PROPN           2249001.0       178585.0
2     ADV             71118.0        85444.0
9     NUM            144202.0        27832.0
11   PRON             44787.0        22223.0
10   PART             55347.0        20889.0
16    SYM             45193.0        15600.0
14  SCONJ             31487.0        13562.0
3     AUX             43767.0         7716.0
18      X             20664.0         4036.0
6    INTJ              1397.0          698.0
15  SPACE                 0.0           77.0
7     NNS                 1.0            0.0

In [252]:
patents = document_attributes_with_title_tokens[document_attributes_with_title_tokens[0].str.startswith('p')]

publications = document_attributes_with_title_tokens[document_attributes_with_title_tokens[0].str.startswith('a')]

patents_above_zero = patents[patents[8] > '0.5']

publications_above_zero = publications[publications[8] > '0.5']

patents_above_zero_count = patents_above_zero.groupby([0,14]).size().unstack(fill_value=0).reset_index()

publications_above_zero_count = publications_above_zero.groupby([0,14]).size().unstack(fill_value=0).reset_index()

In [256]:
len(patents_above_zero_count)

140518

In [257]:
len(publications_above_zero_count)

99778

In [258]:
patents_above_zero_count = patents_above_zero_count.head(99778)

In [259]:
len(patents_above_zero_count)

99778

In [260]:
patents_above_zero_count.loc['Patents_Total_above_zero',:]= patents_above_zero_count.sum(axis=0)

publications_above_zero_count.loc['Publications_Total_above_zero',:]= publications_above_zero_count.sum(axis=0)

In [262]:
publications_above_zero_count.loc['Publications_Total_above_zero'].reset_index().merge(patents_above_zero_count.loc['Patents_Total_above_zero'].reset_index(),on=14)[1:]

       14 Publications_Total_above_zero Patents_Total_above_zero
1     ADJ                        151964                    82625
2     ADP                        208411                    82508
3     ADV                          7060                     7838
4     AUX                          4339                      615
5   CCONJ                         49568                    28257
6     DET                         77244                    26923
7    INTJ                           132                      140
8    NOUN                        442375                   340186
9     NUM                         13172                     4099
10   PART                          7318                     1205
11   PRON                          5089                     2622
12  PROPN                        266776                    20164
13  PUNCT                        117292                    24420
14  SCONJ                          3182                     1675
15    SYM                          4461                      861
16   VERB                         69458                    67118
17      X                          1500                      737

In [263]:
patents_below_zero = patents[patents[8] < '-0.5']

publications_below_zero = publications[publications[8] < '-0.5']

patents_below_zero_count = patents_below_zero.groupby([0,14]).size().unstack(fill_value=0).reset_index()

publications_below_zero_count = publications_below_zero.groupby([0,14]).size().unstack(fill_value=0).reset_index()

In [265]:
len(patents_below_zero_count)

214104

In [268]:
len(publications_below_zero_count)

214104

In [274]:
patents_below_zero_count[0].nunique()

214105

In [275]:
publications_below_zero_count[0].nunique()

214105

In [267]:
publications_below_zero_count = publications_below_zero_count.head(214104)

patents_below_zero_count.loc['Patents_Total_below_zero',:]= patents_below_zero_count.sum(axis=0)

publications_below_zero_count.loc['Publications_Total_below_zero',:]= publications_below_zero_count.sum(axis=0)

In [276]:
publications_below_zero_count.loc['Publications_Total_below_zero'].reset_index().merge(patents_below_zero_count.loc['Patents_Total_below_zero'].reset_index(),on=14)[1:]

       14 Publications_Total_below_zero Patents_Total_below_zero
1     ADJ                        378135                   207263
2     ADP                        478211                   194156
3     ADV                         14952                    16833
4     AUX                          8368                     1451
5   CCONJ                        114197                    89138
6     DET                        164136                    68423
7    INTJ                           299                      142
8    NOUN                   1.15766e+06                   842480
9     NUM                         34498                     5452
10   PART                          8868                     4482
11   PRON                          8957                     3873
12  PROPN                        368213                    35609
13  PUNCT                        307773                    55596
14  SCONJ                          5216                     2578
15    SYM                          8537                     3155
16   VERB                        132800                   169471
17      X                          5569                      620

In [278]:
publications_above_zero_count[0].nunique()

99779

In [281]:
publications_below_zero_count = publications_below_zero_count.head(99779)

publications_below_zero_count.loc['Publications_Total_below_zero_updated',:]= publications_below_zero_count.sum(axis=0)

In [287]:
publications_above_zero_count.loc['Publications_Total_above_zero'].reset_index().merge(publications_below_zero_count.loc['Publications_Total_below_zero_updated'].reset_index(),on=14)[1:]

       14 Publications_Total_above_zero Publications_Total_below_zero_updated
1     ADJ                        151964                                149102
2     ADP                        208411                                223894
3     ADV                          7060                                  6354
4     AUX                          4339                                  2213
5   CCONJ                         49568                                 53428
6     DET                         77244                                 77019
7    INTJ                           132                                   129
8    NOUN                        442375                                514413
9     NUM                         13172                                 15566
10   PART                          7318                                  2946
11   PRON                          5089                                  4095
12  PROPN                        266776                                221858
13  PUNCT                        117292                                169729
14  SCONJ                          3182                                  1324
15    SYM                          4461                                  3278
16   VERB                         69458                                 53079
17      X                          1500                                  2419

In [289]:
patents_above_zero_count[0].nunique()

99779

In [291]:
patents_below_zero_count = patents_below_zero_count.head(99779)

patents_below_zero_count.loc['Patents_Total_below_zero_updated',:]= patents_below_zero_count.sum(axis=0)

In [293]:
patents_above_zero_count.loc['Patents_Total_above_zero'].reset_index().merge(patents_below_zero_count.loc['Patents_Total_below_zero_updated'].reset_index(),on=14)[1:]

       14 Patents_Total_above_zero Patents_Total_below_zero_updated
1     ADJ                    82625                            94427
2     ADP                    82508                            88649
3     ADV                     7838                             7850
4     AUX                      615                              714
5   CCONJ                    28257                            35275
6     DET                    26923                            30702
7    INTJ                      140                               72
8    NOUN                   340186                           377478
9     NUM                     4099                             2793
10   PART                     1205                             1723
11   PRON                     2622                             1996
12  PROPN                    20164                            16980
13  PUNCT                    24420                            23119
14  SCONJ                     1675                             1259
15  SPACE                        0                                1
16    SYM                      861                             1466
17   VERB                    67118                            76209
18      X                      737                              268

### Dependency tree

In [1]:
import spacy
from nltk import Tree

en_nlp = spacy.load('en_core_web_lg')

doc = en_nlp("Failsafe voltage regulator with warning signal driver")

def tok_format(tok):
    return "_".join([tok.orth_, tok.tag_])

def to_nltk_tree(node):
    if node.n_lefts + node.n_rights > 0:
        return Tree(tok_format(node), [to_nltk_tree(child) for child in node.children])
    else:
        return tok_format(node)
    
[to_nltk_tree(sent.root).pretty_print() for sent in doc.sents]

            regulator_NN
      ___________|_______________________
     |           |                    with_IN
     |           |                       |
     |           |                   driver_NN
     |           |             __________|_________
Failsafe_JJ  voltage_NN  warning_VBG           signal_NN

[None]

In [295]:
pd.DataFrame(doc.print_tree())['POS_coarse'].values[0]

'NOUN'

In [ ]:
titles = pd.read_csv('document_attributes_titles_abstracts.csv',error_bad_lines=False,header=None)

In [298]:
def get_root(row):
    for i in row:
        doc = en_nlp(i)
    return pd.DataFrame(doc.print_tree())['POS_coarse'].values[0]